<div class="margin-bottom align-center">
    <h3>Hier ist die Aufgabenstellung als PDF-Datei</h3>
    <img src="assets/img/pdf.png" href="http://valentina-kuxhausen.developerakademie.net/Bewerber%20Eignungsaufgabe.pdf">
</div>

<div REITER1 class="column">
    <div class="margin-bottom">
        <span>Gib eine Zeichenkette ein, die nur aus folgenden Zeichen besteht: acdefhlmnoprstuw.</span>
    </div> 

    <div class="margin-bottom">
        <input class="input" #inputText type="text" placeholder="Gib eine Zeichenkette ein">
        <button class="button" (click)="GetHashwert(inputText)">Prüfen</button>
    </div> 

    <div>
        <!--hier wird Hashwert oder Fehlermeldung angezeigt-->
        <label class="label margin-bottom">{{ hashwertResult }}</label>
    </div> 
</div>


<div REITER2 class="column">
    <div class="margin-bottom">
        <span>Gib einen Hashwert ein, um die gesuchte Zeichenkette zu finden.</span>
    </div> 

    <div class="margin-bottom">
        <input class="input" type="number" 
        placeholder="Gib einen Hashwert ein">
        <button class="button">Prüfen</button>
    </div>

    <div>
        <!-- hier wird gesuchte Zeichenkette oder Fehlermeldung angezeigt -->
        <label class="label margin-bottom"></label>
    </div>
</div>

<!-- Visualisierung tabs -->
<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <h2>Angular & Bootstrap</h2>
    </div>

    <div class="panel panel-primary">
        <div class="panel-deading">
            Status
        </div>
        <div class="panel-body">
            <h3>{{ title }}</h3>
        </div>
    </div>

</div>