// orientiert am Homepage-Design von all4schools
h3 {
    margin-right: 10px;
}

img {
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.margin-bottom {
    margin-bottom: 20px;
}

.input {
    padding: 10px 20px 10px 10px;
    background-color: #F4F4F4;
    border: none;
    font-family: inherit;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder { 
    font-family: 'Heebo', sans-serif;  
}

.button {
    background-color: #F0AB0B;
    color: white;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    margin-left: 12px;

    &:hover {
        cursor: pointer;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.label {
      background-color: #FCF8ED;
      padding: 12px 100px 12px 12px;
      
}

////////////////////TABS

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}